image boot.vfat {
	vfat {
		extraargs = "-F 32 -n BATOCERA"
		@files
	}
	size = 4G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "512M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image batocera.img {
	hdimage {
		align = "1M"
	}

	partition u-boot {
		in-partition-table = "no"
		image = "../uboot-xiaoyi-pro/DDR_ENC.USB"
		offset = 512
	}

	partition env {
		in-partition-table = "no"
		image = "../uboot-xiaoyi-pro/env-autobootcmd"
		offset = 4M
	}

	partition ept {
		in-partition-table = "no"
		image = "../uboot-xiaoyi-pro/reserved-min-ept"
		offset = 36M
	}

	partition vfat {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
		offset = 100M
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext4"
	}
}
