set default="0"
set timeout="0"

menuentry "Batocera" {
    linux /boot/Image label=BATOCERA rootwait quiet video=efifb:off efi=noruntime clk_ignore_unused pd_ignore_unused console=tty0
    initrd /boot/initrd.lz4
    devicetree /boot/sm8750-lenovo-elden.dtb
}

menuentry "Reboot" {
    reboot
}
